<div id="<%= dom_id idea %>">
<center>
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="label">Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong class="label">Picture:</strong>
    <%= idea.picture %>
  </p>
</center>
</div>
